.input_dados {
   background-color: rgb(135, 136, 138);

}

.inputNome input {
   border: 1px solid #f16232;
   width: 180px;
   height: 40px;
   border-radius: 3px;
   margin: 5px 0 5px 0;
   padding: 0 0 0 8px;

}

.inputDados button {
   width: 150px;
   height: 30px;
   background: #f16232;
   border: 1px solid #f16232;
   color: #ffffff;
   border-radius: 3px;
   font-size: 22px;
   text-transform: uppercase;
   font-weight: 500;
   
}
button:disabled{
opacity: 0.5;
 }